<!-- FIXME: memento list and creation mode flags need to be run/flipped after a memento is created -->
<ion-view view-title="{{vm.title}}">

  <ion-nav-buttons side="secondary">
    <!-- NOTE: this should be our icon for a moment -->
    <button ng-hide="vm.createMode" on-tap="vm.goToMomentCreate()" class="button button-icon icon ion-plus-circled"></button>
  </ion-nav-buttons>

  <ion-content>
    <ion-item ng-hide="!vm.createMode" href="#/mementocreate"> Create Memento </ion-item>

    <div class="item item-divider"> Created </div>
    
    <ion-item ng-repeat="memento in vm.mementos.created" class="item-icon-right" href="#/mementos/{{memento.ID}}" on-tap="vm.addMoment({{memento.ID}})">
      {{memento.title}}

      <i class="icon ion-chevron-right"></i>
    </ion-item>
    
    <div ng-hide="vm.createMode">
      <div class="item item-divider"> Received </div>
      
      <ion-item ng-repeat="memento in vm.mementos.received" class="item-icon-right" href="#/mementos/{{memento.ID}}">
        {{memento.title}}

        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </div>
  
  </ion-content>
</ion-view>
